.header {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}
.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.info-box {
  width: 45%;
  text-align: center;
  text-decoration: underline;
}
.hr {
  width: 200px;
}

.btn-sp {
  margin: 0px 5px;
}
.form-wrap {
  display: flex;
  justify-content: center;
}

